.home {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-image: url('../assets/fondo.png');
    background-attachment:fixed;
}

.vermas_container {
    display: flex;
    justify-content: center;
    background-image: url('../assets/fondo.png');
    background-attachment:fixed;
    button {
        border-radius: 15px;
        border: none;
        background-color: #ff3c00;
        color: white;
        padding: 15px;
        font-weight: 500;
        margin: 10px;
        transition: 0.3s;
        &:hover {
            background-color: #f85f31;
            font-weight: 700;
        }
    }
}