@media screen and (max-width: 1200px) {
    .header_home {
        .nav_home {
            .menu {
                display: initial;
            }
            .buscador {
                display: none;
            }
            div {
                display: none;
            }
            .buscar {
                display: initial;
            }

        }
    }
    
}

@media screen and (max-width: 1021px) {
    .home {
        .cards_content {
            .poke_card {
                zoom: 1.3;
            }
        }
    }
}

@media screen and (max-width: 995px) {
    .home {
        .cards_content {
            .poke_card {
                zoom: 1.7;
            }
        }
    }
}
@media screen and (max-width: 448px) {
    .home {
        .cards_content {
            .poke_card {
                zoom: initial;
            }
        }
    }
}