@media screen and (max-width: 1200px) {
    .header_home {
        .nav_home {
            .menu {
                display: initial;
            }
            .buscador {
                display: none;
            }
            div {
                display: none;
            }
            .buscar {
                display: initial;
            }

        }
    }
    
}